<div class="container mt-4">
  <h4>Ajouter un commentaire</h4>
  <%= form_with(model: [ article, Comment.new ], local: true) do |form| %>
    <% I18n.available_locales.each do |locale| %>
      <div class="field mb-3">
        <% content = "content_#{Mobility.normalize_locale(locale)}" %>
        <%= form.label "Commentaire en #{locale}" %>
        <%= form.text_field content, class: "form-control", required: true %>
      </div>
    <% end %>

    <div class="d-flex justify-content-between">
      <%= form.submit "Ajouter un commentaire", class: "btn btn-primary" %>
      <%= link_to "Annuler", article_path(article), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
