<h2>Forum</h2>

<%= link_to "Créer un article", new_article_path, class: "btn btn-primary mb-3" %>

<div class="row">
  <% @articles.each do |article| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <% if article.cover_image.attached? %>
          <%= image_tag article.cover_image, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text">Publié le <%= article.created_at.strftime("%d/%m/%Y") %></p>
          <p class="card-text">Par: <%= article.user.email %></p>
          <div class="d-flex justify-content-between">
            <%= link_to "Voir plus", article_path(article), class: "btn btn-primary" %>
            <% if policy(article).update? %>
              <%= link_to "Modifier", edit_article_path(article), class: "btn btn-secondary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
