<% if user_signed_in? %>
  <div class="btn btn-primary">
  <%= link_to "Nouveau article", new_user_article_path(current_user), class: "btn btn-primary" if policy(Article).new? %>
  </div>
<% end %>

<h2> Forum index </h2>

<% @articles.each do |article| %>
  <div class="card" style="width: 18rem; margin-top: 2rem;">
    <% if article.files.attached? %>
      <img src="..." class="card-img-top" alt="...">
    <% end %>
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= article.content %></p>
      <p class="card-text">Le <%= article.created_at.strftime("%d/%m/%Y") %></p>
      <% if user_signed_in? %>
      <div class="btn btn-primary">
        <%= link_to "Voir", user_article_path(current_user, article), class:"btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>


<div class="btn btn-primary">
  <%= link_to 'Se connecter', new_user_session_path, class: "btn btn-primary" %>
</div>
<div class="btn btn-primary">
  <%= link_to 'Créer un compte', new_user_registration_path, class: "btn btn-primary"%>
</div>
