<h2> Forum </h2>

<% @articles.each do |article| %>
  <div class="card" style="width: 18rem; margin-top: 2rem;">
    <% if article.files.attached? %>
      <img src="..." class="card-img-top" alt="...">
    <% end %>
    <div class="card-body">
      <p class="card-text">Publié le <%= article.created_at.strftime("%d/%m/%Y") %></p>
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= truncate(article.content, length: 200) %></p>
      <div class="d-flex justify-content-end">
        <%= link_to "Voir plus", article_path(article), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>


<br><br>
<% if user_signed_in? %>
  <div class="col-md-6 d-flex" style="justify-content: center;">
  <%= link_to "Nouveau article", new_article_path, class: "btn btn-primary" %>
  </div>
  <% else %>
  <div class="col-md-6 d-flex" style="justify-content: center;">
    <%= link_to 'Se connecter', new_user_session_path, class: "btn btn-primary" %>
    <%= link_to 'Créer un compte', new_user_registration_path, class: "btn btn-secondary" %>
  </div>
<% end %>
