<h3> Article : <%= @article.title %></h3>

<p> <%= @article.content %> </p>

<p> Créé par <%= @article.user.email %></p>

<p> Le <%= @article.created_at.strftime("%d/%m/%Y") %></p>

<% if @article.files.attached? %>
  <%= image_tag @article.files %>
<% end %>

<% if user_signed_in? && @article.user == current_user %>
  <%= link_to "Modifier article", edit_article_path(@article), class: "btn btn-secondary" %>

  <%= link_to "Supprimer article", @article, data: { turbo_method: :delete, turbo_confirm: 'Etes vous sûr ?' }, class: "btn btn-secondary" %>
<% end %>

<%= link_to 'Retour', articles_path, class: "btn btn-secondary" %>
