<div class="navbar navbar-expand-sm navbar-light navbar-forum">
  <div class="container-fluid">
    <div>
      <%= form_with url: locale_path, method: :post, local: true do %>
        <%= select_tag :locale, options_for_select([['English', :en], ['Français', :fr], ['Español', :es], ['Português', :pt]], I18n.locale), onchange: 'this.form.submit();' %>
      <% end %>
    </div>
    <div>
      <%= user_signed_in? ? "Bienvenue #{current_user.email}" : "Connectez-vous pour plus d'accès" %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Accueil articles", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Organismes", organismes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
