<h2> Index organismes </h2>

<div>
  <%= link_to "Nouvel organisme", new_organisme_path %>
</div>

<% @organismes.each do |organisme| %>
  <div>
    <%= organisme.name %>
    <%= organisme.type %>

    <%= link_to "Voir detail", organisme_path(organisme) %>
    <%= link_to "Modifier", edit_organisme_path(organisme) %>
  </div>
<% end %>
