<h2> Index organismes </h2>

<div>
  <%= link_to "Créer organisme", new_organisme_path, class: "btn btn-primary" %>
</div>

<br>
<br>

<% @organismes.each do |organisme| %>
  <div>
    <%= organisme.name %>
    <strong><%= organisme.type %></strong>

    <%= link_to "Voir detail", organisme_path(organisme), class: "btn btn-primary" %>
    <%= link_to "Modifier", edit_organisme_path(organisme), class: "btn btn-secondary" %>
    <%= link_to "Supprimer", organisme_path(organisme), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },class: "btn btn-danger" %>
  </div>
  <br>

<% end %>
